* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* TOPO */
.topo {
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 25px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.top h1 {
    font-size: 35px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
}

/* USER */
.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user span:hover{
    cursor: pointer;
}

.avatar {
    width: 35px;          
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #2e7d32, rgb(78, 187, 10));
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 220px;
    height: calc(100vh - 70px);
    background: #fff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
}

/* MENU */
.menu {
    list-style: none;   
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #555;
}

.menu li:hover {
    background: #e8f5e9;
    color: #2e7d32;
}

.divider {
    height: 1px;
    background: #e0e0e0;
    margin: 20px 0;
}

.menu li img {
    width: 20px;
    height: 20px;
}

/* ITEM ATIVO */
.menu .ativo{
    background: #e8f5e9;
    color: #2e7d32;
    font-weight: 600;
}
