/* DARK MODE GLOBAL */
body.dark {
  background: #121212;
  color: #eee;
}

body {
  transition: background 0.3s, color 0.3s;
}

/* TOPO */
body.dark .card,
body.dark .card-topo,
body.dark .saldo-card,
body.dark .card-filtros,
body.dark .card-tabela,
body.dark .card-orcamento {
  background: #1e1e1e;
  color: #eee;
}

body.dark .topo {
  background: #1a1a1a;
  border-bottom: 1px solid #333;
  color: #eee;
}

/* SIDEBAR */
body.dark .sidebar {
  background: #1a1a1a;
  border-right: 1px solid #333;
}

body.dark .menu li {
  color: #ccc;
}

body.dark .menu li:hover {
  background: #2a2a2a;
}

/* CARDS */
body.dark .card {
  background: #1e1e1e;
}

/* INPUTS */
body.dark input,
body.dark select {
  background: #2a2a2a;
  color: white;
  border: 1px solid #444;
}

/* TEXTOS */
body.dark p {
  color: #aaa;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark strong {
  color: #fff;
}

/* BOTÕES */
body.dark .btn-outline {
  border-color: #4caf50;
  color: #4caf50;
}

body.dark .btn-outline:hover {
  background: #4caf50;
  color: white;
}

body.dark .btn-add {
  background: #4caf50;
}

body.dark .btn-add:hover {
  background: #388e3c;
}

body.dark .btn-limpar {
  background: #444;
  color: #fff;
}

/* TABELA TRANSAÇÕES */
body.dark .tabela thead {
  background: #2a2a2a;
}

body.dark .tabela tbody tr {
  border-top: 1px solid #333;
}

body.dark .tabela tbody tr:hover {
  background: #2a2a2a;
}

body.dark .tabela td,
body.dark .tabela th {
  color: #eee;
}

/* FILTRO E INPUTS */
body.dark input,
body.dark select {
  background: #2a2a2a;
  color: #fff;
  border: 1px solid #444;
}

/* SALDOS */
body.dark .positivo {
  color: #4caf50 !important;
}

body.dark .negativo {
  color: #ef5350 !important;
}

/* BARRA ORÇAMENTO */
body.dark .barra {
  background: #333;
}

body.dark .progresso {
  background: #4caf50;
}

/* MODAL */
body.dark .modal-content {
  background: #1e1e1e;
  color: #fff;
}

/* FORÇA */
body.dark .card *,
body.dark .card-tabela *,
body.dark .card-orcamento * {
  color: inherit;
}
body.dark .dados-item * {
  color: inherit;
}

/* topo da pagina */
body.dark .logo span {
  color: #4caf50;
}

body.dark .user span {
  color: #eee;
}

body.dark .avatar {
  background: linear-gradient(135deg, #4caf50, #2e7d32);
}

/* Container e dados  */
body.dark .dados-container {
  background: transparent;
}

body.dark .dados-item {
  background: #1e1e1e;
  color: #eee;
}

/* exportar verde */
body.dark .dados-item.verde {
  background: #1b2a1b;
}

body.dark .dados-item.verde .dados-icon {
  background: #2e7d32;
}

/* limpar vermelho */
body.dark .dados-item.vermelho {
  background: #2a1b1b;
}

body.dark .dados-item.vermelho .dados-icon {
  background: #c62828;
}

/* textos */
body.dark .dados-item p {
  color: #aaa;
}

body.dark .dados-item strong {
  color: #fff;
}

/* botoes verde/vermelho */
body.dark .btn-outline {
  border-color: #4caf50;
  color: #4caf50;
}

body.dark .btn-red-outline {
  border-color: #ef5350;
  color: #ef5350;
}

body.dark .dados-icon img {
  filter: brightness(0) invert(1);
}

body.dark .membro {
  background: #2a2a2a;
  color: #fff;
}

body.dark .menu .ativo {
  background: #2a2a2a;
  color: #fff;
}

body.dark .membro {
  background: #2a2a2a;
}

body.dark .avatar-membro {
  background: #4caf50;
}

body.dark .btn-remover {
  color: #ef5350;
}

body.dark .modal-content {
  background: #1e1e1e;
  color: #fff;
}

body.dark #form-familia input {
  background: #2a2a2a;
  border: 1px solid #444;
  color: white;
}

body.dark #form-familia input:focus {
  border-color: #4caf50;
}

body.dark .fechar {
  color: #ccc;
}

body.dark .fechar:hover {
  color: #fff;
}

/* dark mode modal familia*/
body.dark .status.pending {
  color: #ffd54f;
}

body.dark .status.accepted {
  color: #4caf50;
}

body.dark #fechar-modal {
  background: #676565;
}

/* modal config */
body.dark .upload-card {
  background: #1e1e1e; /* 🔥 fundo escuro */
  border: 1px dashed #444;
}

body.dark #fileName {
  color: #ccc;
}

body.dark .info-arquivo {
  color: #aaa;
}

body.dark .custom-file-btn {
  border: 1px solid #4caf50;
  color: #4caf50;
}

body.dark .custom-file-btn:hover {
  background: #4caf50;
  color: black;
}

body.dark .input-icon input{
  background-color: #1e1e1e;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.avatar {
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.avatar-mini {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2f8f3a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* ================= SINO / NOTIFICAÇÃO PADRÃO ================= */

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notificacao {
  position: relative;
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.icone-sino {
  width: 22px;
  height: 22px;

  object-fit: contain;
  display: block;

  margin: 0;
  padding: 0;

  cursor: pointer;
}

.icone-sino:hover {
  transform: rotate(10deg);
  transition: 0.2s;
}

.badge {
  position: absolute;

  top: -8px;
  right: -2px;

  min-width: 18px;
  height: 18px;
  padding: 0 5px;

  border-radius: 999px;

  background: #ff3939;
  color: #ffffff;

  font-size: 11px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 5;
}