body {
  font-family: system-ui;
  background: #ecfdf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  max-width: 322px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #138a3f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
    background: #16a34a;
    transform: translateY(-1px);
}

.back {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #138a3f;
}

.back:hover{
    color: #16a34a;
    transform: translateY(-1px);
}